<h1><%= @title %></h1>

<form action="/basic_calc" method="post">
  <input type="text" name="input1" autofocus>
  <input type="text" name='symbol' placeholder="+, -, *, /">
<!--   <select name="symbol">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select> -->
  <input type="text" name="input2">
<button type='submit' name="basic_calc">Calculate</button>
</form>

<p><%= @basic %><p>
