<h1><%= @title %></h1>

<p>test test</p>

<form action="/navigate" method="post">
  <input type="text" name="destination" autofocus>
  <button>Click Me!</button>  <!-- Default action of a form is get! -->
</form>