<h1><%= @title %></h1>

<form action="/calculate" method="post">
  <input type="text" name="input1" autofocus>
  <input type="text" name='symbol' placeholder="+, -, *, /">
  <input type="text" name="input2">
<button type='submit' name="calculate">Calculate</button>
</form>

<%= @basic %>
