<h1><%= @title %></h1>

<form action="/bmi_calc" method="post">
  <input type="text" name="unit" placeholder="imperial/metric" autofocus>
  <input type="text" name='height' placeholder="height">
  <input type="text" name="weight"placeholder="weight">
<button type='submit' name="bmi_calc">Calculate</button>
</form>

<p><%= @bmi %></p>