<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calc It!</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Calculators Galore!</h1>
  <nav>
    <ul>
      <li><a href="/basic">Basic Calculator</a></li>
      <li><a href="/mortgage">Mortgage Calculator</a></li>
      <li><a href="/bmi">Body Mass Index Calculator</a></li>
      <li><a href="/distance">Distance Calculator</a></li>
      <li><a href="/exchange_rate">Exchange Rate Calculator</a></li>
    </ul>
  </nav>

  <% yield %>

</body>
</html>