body {
  background: aquamarine;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h1 {
  margin-left: 20px;
}

title {
  margin-left: 20px;
}

ul {
 list-style: none;
}

a {
  text-decoration: none;
}

input {
  margin: 10px 0 5px 40px;
}

select {
  margin: 10px 0 5px 150px;
}

button [name=calculate] {
  margin: 10px 0 5px 120px;
}

p {
  font-size: 25px;
  margin: 10px 0 0 120px;
}